{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur le Dashboard PartHub{% endblock %}


{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-4">
        {% for party in partys %}
        <div class="col">
            <div class="card shadow-sm">
                <img src="/upload/{{ party.picture }}" width="100%" height="225">
                <div class="card-body">
                    <p class="card-text">
                    <h2>{{ party.name }}</h2>
                    <small class="d-block">{{ party.theme }}</small>
                    <small class="d-block">Date: {{ party.date }}</small>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a class="btn btn-secondary" role="button" href="/party/dashboard?party_id={{ party.id }}">Voir l'événemnt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

{% endblock %}

