{% extends 'layout.html.twig' %}

{% block title %}PartHub{% endblock %}

{% block content %}

    <div class="card my-3">
    <h5 class="card-header bg-orange text-center">Liste des invités</h5>
    <div class="card-body">
        <div class="bg-light border rounded-3">
            <div class="col-md-12">
                <div class="content-panel">

                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th><i class="fa fa-bullhorn"></i>Avatar</th>
                            <th class="hidden-phone"><i class="fa fa-question-circle"></i>Participants</th>
                            <th><i class="fa fa-bookmark"></i>Téléphone</th>
                            <th><i class="fa fa-bookmark"></i>E-mail</th>
                            <th><i class=" fa fa-edit"></i> Statut</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

                        <ul class="px-0">
{#                            {%  if i is divisible by(2) %}#}
{#                            {% set i = 0 %}#}
{#                                {%  set i = i +1 %}#}
                            {% for guest in guests %}

                                <li class="list-group-item" style="background-color: #eeeeee">
                                    <div class="d-flex justify-content-between" >

                                        <div>{{ guest.picture }}</div>
                                        <div>{{ guest.firstname }} {{ guest.lastname }}</div>
                                        <div>{{ guest.telephone }}</div>
                                        <div>{{ guest.email }}</div>
                                       <div>{% if guest.participate == 1 %}
                                           <button type="button" class="btn btn-round btn-success"> Participe </button>
                                       </div>
                                            {% else %}
                                                <div><button type="button" class="btn btn-round btn-danger">Participe pas</button>
                                                </div>
                                                {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
{#                            {% endif %}#}
                        </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
